{% extends 'base.html' %}

{% block content %}
    <h2>Places to Visit</h2>
    <form action="{{ url_for('add_place') }}" method="post">
        <input type="text" name="place" placeholder="Enter a new place" required>
        <button type="submit">Add Place</button>
    </form>

    <ul>
        {% for place in places %}
            <li>
                {{ place.name }} - Visits: {{ place.visits }}
                <a href="{{ url_for('visit_place', place_id=place.id) }}">Visit</a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
